<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
</head>
	Search imgs:
	<br>
	<form action="/results" method="GET">
		<input type="text" name="query" placeholder="Search"/>
    	<input id="submit" type="submit" value="Submit">
	</form>

	Search weather (must use format of lat,long with no spaces):
	<br>

	<form action="/weather" method="GET">
		<input type="text" name="query" placeholder="Search"/>
    	<input id="submit" type="submit" value="Submit">
	</form>
	
	<script>
		/**document.getElementById("submit").addEventListener("click", function(){
			var query = document.getElementById("query").value;
		}
		**/
	</script>
</html>


